* {
  margin: 0;
  padding: 0;
}

input {
  padding: 10px;
  border-radius: 4px;
  color: orange;
  width: 100%;
  max-width: 900px;
  border: none;
  outline: none;
  /* background: #142b44; */
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 14px;
}

input::placeholder {
  color: tan;
}

button {
  padding: 8px;
  width: 8%;
  border-radius: 4px;
  background-color: #4286f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

h1 {
  color: #4286f4;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

label {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 18px;
}
